// BOOTSTRAP PRESETS
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

@import 'variables/bootstrap';
@import 'variables/theme';

// CUSTOM PRESETS
@import 'base/mixins';

// ASPECT RATIOS
@import 'base/aspect-ratio';

// BOOTSTRAP BASE
@import 'bootstrap/scss/mixins';

// REBOOT
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/grid';

// BOOTSTRAP UTILITIES
@import 'base/flex';
@import 'bootstrap/scss/utilities/align';
@import 'bootstrap/scss/utilities/display';
@import 'bootstrap/scss/utilities/spacing';

// CUSTOM BASE
@import 'base/text';
@import 'base/headings';
@import 'base/forms';
@import 'base/buttons';
@import 'base/strike';
@import 'base/borders';
@import 'base/dropdown';
@import 'base/sizing';
@import 'base/semantics';
@import 'base/flush';
@import 'base/icons';
@import 'base/backgrounds';
@import 'base/lists';
@import 'base/carousel';
@import 'base/photoswipe';
@import 'base/accordion';
@import 'base/tabs';
@import 'base/tooltip';
@import 'base/helpers';

// LAYOUT
@import 'layout/drawer';
@import 'layout/banner';
@import 'layout/header';
@import 'layout/navbar';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/page';
@import 'layout/cart';
@import 'layout/templates';
@import 'layout/search';
@import 'layout/gdrp';
@import 'layout/404';
@import 'layout/account';

// COMPONENTS
@import 'components/hero';
@import 'components/reveal';
@import 'components/discounts';
@import 'components/product-item';
@import 'components/product-options';
@import 'components/product-quickview';
@import 'components/product-purchase';
@import 'components/size-charts';
@import 'components/search';
@import 'components/fabric';
@import 'components/mobile-menu';
@import 'components/pagination';
@import 'components/pictograms';
@import 'components/locale';
@import 'components/newsletter';

// SECTIONS
@import 'sections/ajax-cart';
@import 'sections/rewaxing';
@import 'sections/collection-slideshow';
@import 'sections/collection-list';
@import 'sections/collection-filter';
@import 'sections/collection-products';
@import 'sections/product-viewer';
@import 'sections/image-split';
@import 'sections/image_cover';
@import 'sections/page-help';
@import 'sections/sustainable';
@import 'sections/subscriptions';

.pjax-loader {
  position: fixed;
  z-index: 200000;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
}
.pjax-loader .pjax-progress {
  width: 0;
  height: 2px;
  opacity: 1;
  background-color: #111;
  -webkit-transition: width 1.2s ease, height 0.8s ease,
    opacity 0.8s ease;
  transition: width 1.2s ease, height 0.8s ease, opacity 0.8s ease;
}
.pjax-inload .pjax-progress {
  width: 95%;
}
.pjax-end .pjax-progress {
  width: 100%;
}
.pjax-hide {
  display: none;
}
