@import 'variables/theme';

@mixin websafe() {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.025rem;
}

.wf-loaded {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.025rem;
}

#preview-bar-iframe {
  display: none !important;
}

body {
  font-weight: $body-font-weight;
  font-size: 15px;
  color: $body-font-colour;
  font-family: $body-font-family;
  background-color: $body-bg-color;
}

a {
  color: $href-color;

  &:focus,
  &:hover {
    color: $href-hover;
  }
}

footer {
  input {
    &::placeholder {
      font-family: $heading-font-family;
    }
  }
}

footer,
nav,
header {
  a,
  button {
    font-size: $navigation-font-size;
    font-family: $heading-font-family;
    font-weight: $navigation-font-weight;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $heading-font-family;
}

aside {
  nav {
    font-family: $heading-font-family;
  }
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: $progress-bar-color;
}
