{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": [
    "lodash",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-class-properties"
  ]
}
