[submodule "examples/using-paths"]
	path = examples/using-paths
	url = https://github.com/syncify-straps/using-paths
[submodule "examples/using-rename"]
	path = examples/using-rename
	url = https://github.com/syncify-straps/using-rename
[submodule "examples/using-sass"]
	path = examples/using-sass
	url = https://github.com/syncify-straps/using-sass
[submodule "examples/using-schema"]
	path = examples/using-schema
	url = https://github.com/syncify-straps/using-schema
[submodule "examples/using-tailwind"]
	path = examples/using-tailwind
	url = https://github.com/syncify-straps/using-tailwind