# DIRECTORIES

.vscode/
straps/
example/
test/
tests/
lib/
docs/
plugins/
src/
versions/
demos/

# DOT FILES

.env
.env.example
.eslintrc
.eslintignore
.prettierrc.js
.prettierignore
.pnpm-debug.log

# BUILD FILES

build.sh
eslint.config.js
graphql.config.ts
tsconfig.json
tsup.config.ts
pnpm-workspace.yaml
pnpm-lock.yaml

# MARKDOWN

readme.md
changelog.md

.env*
.flaskenv*
!.env.project
!.env.vault