# DIRECTORIES

example/
test/
lib/
src/
versions/
.vscode/

# DOT FILES

.env
.env.example
.eslintrc
.eslintignore
.prettierrc.js
.prettierignore
.shopifysync.json
.eslintignore
.pnpm-debug.log

# BUILD FILES

tsconfig.json
rollup.config.mjs

# MARKDOWN

readme.md
changelog.md
