{% assign links = page.url | split: '/' %}

<div class="row gx-2 ai-center breadcrumb my-5 pl-2 pt-3">
  <div class="col-auto">
    {% svg 'home', 'icon icon-home' %}
  </div>
  <div class="col-auto">
    {% svg 'arrow-right', 'icon icon-right' %}
  </div>
  <div class="col-auto pt-1">
    {{ links[1]
      | replace: '-', ' '
      | capitalize
      | replace: 'spx', 'SPX' }}
  </div>

  {% if links[2] %}
    <div class="col-auto">
      {% svg 'arrow-right', 'icon icon-right' %}
    </div>
    <div class="col-auto pt-1">
      {{ links[2]
        | replace: '-', ' '
        | capitalize
        | replace: 'spx', 'SPX' }}
    </div>
  {% endif %}

  {% if links[3] %}
    <div class="col-auto">
      {% svg 'arrow-right', 'icon icon-right' %}
    </div>
    <div class="col-auto pt-1">
      {{ links[3]
        | replace: '-', ' '
        | capitalize
        | replace: 'spx', 'SPX' }}
    </div>
  {% endif %}
</div>