<div
  class="navbar-search d-none d-md-unset"
  spx-component="search"
  spx-search:source="{{ '/spx.json' | url }}">

  <input
    type="search"
    class="fm-input"
    placeholder="Search"
    spx@input="search.onInput"
    spx@click="search.onFocus"
    spx-node="search.input">

  <ul
    class="search-list d-none"
    spx-node="search.list">
    <li class="h-100 d-flex js-center">
      Search
    </li>
  </ul>

</div>