<div class="contain">

  <a
    href="{{ section.settings.url }}"
    target="_blank"
    class="logo">
    {% render 'icon.logo' %}
  </a>

  <p class="text">
    {{ section.settings.title }}
  </p>

</div>

{% schema %}
{
  "name": "page",
  "settings": [
    {
      "$ref": "page.example"
    }
  ]
}
{% endschema %}