.collection-slideshow {
	position: relative;
	width: 100%;
	max-width: 1177px;
	overflow-x: hidden;

	.previous,
	.next {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 100;
		height: 100%;
	}

	.previous {
		left: 6px;
	}

	.next {
		right: 6px;
	}

	.icon {
		width: 18px;
		height: 18px;
	}
}
