.collection-list {
	position: relative;
	overflow: hidden;

	.aspect-ratio {
		@include aspect-ratio(1024, 1024, $gray-200);
	}

	.content {
		position: relative;

		> .overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 100%;

			&.gender-popup {
				background-color: rgba(255, 255, 255, 0.4) !important;
				backdrop-filter: blur(5px);
				-webkit-backdrop-filter: blur(10px);

				a {
					color: $black-700;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.genders {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			visibility: hidden;
			opacity: 0;

			&.genders-open {
				visibility: visible;
				opacity: 1;
				transition: opacity 0.225s ease-in;
			}
		}

		.alignment,
		a {
			display: flex;
			text-transform: uppercase;
			font-family: var(--heading-font-family);
			width: 100%;
			height: 100%;

			.text-button {
				padding: 5px 10px;
			}
		}
	}
}

.pagination {
	> button {
		max-width: 250px;
		font-size: $h5-font-size;
	}
}

$pagination-active-border: #444;
$pagination-active-bg: #111;

.pagination {
	border-radius: 0;

	.page-item {
		&:first-child {
			.page-link {
				margin-left: 0;
				border-radius: 0;
			}
		}
		&:last-child {
			.page-link {
				border-radius: 0;
			}
		}

		&.active .page-link {
			z-index: 2;
			color: $pagination-active-color;
			background-color: $pagination-active-bg;
			border-color: $pagination-active-border;
		}
	}
}

.page-link {
	color: $black;

	&:hover,
	&:focus {
		color: #111;
	}

	&.next-url,
	&.prev-url {
		display: flex;
		height: 100%;
		align-items: center;
	}

	.icon {
		width: 15px;
		height: 15px;
	}
}

.pagination-md {
	@include pagination-size(7px, 17px, 1.1rem, 2.4rem, 0);
	font-weight: bold;
}
