.subscriptions {
	margin: 20px 0;
	max-width: 700px;

	.loading-discount {
		height: 270px;
	}

	form {
		max-width: 500px;
	}

	label {
		font-size: $font-size-xs;
		text-transform: uppercase;
	}

	input {
		font-family: var(--heading-font-family);

		&::placeholder {
			text-transform: uppercase;
			font-size: $font-size-sm;
		}
	}

	input {
		width: 100%;
		border: 0;
		border-bottom: 1px solid $black-300;
		padding: 8px 14px 8px 0;

		&:focus {
			border: 1px solid $black-300;
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}

	button {
		font-weight: 500;
	}

	.select-list {
		// product purchasing

		.dropdown-button {
			position: relative;
			height: 40px;
			width: 100%;
			padding: 0 15px;
			text-transform: uppercase;
			font-family: var(--heading-font-family);
			font-size: 1rem;
			display: flex;
			align-items: center;
		}

		.dropdown {
			// dropdown

			&-button {
				justify-content: space-between;
				color: $black-700;
				background-color: $gray-100;
				//	border-radius: 4px;
				//border: 1px solid $black-700;

				&.selected {
					.icon {
						animation: ArrowSwayDown 0.575s infinite ease-in-out
							alternate;

						@include media-breakpoint-up(md) {
							animation: ArrowSwayRight 0.575s infinite
								ease-in-out alternate;
						}
					}
				}
			}

			&-list > ul {
				height: auto;
				background-color: $white;
				border: 1px solid $gray-200;
				border-top: 0;

				li {
					position: relative;
					height: 32px;
					text-transform: uppercase;

					&:hover {
						background-color: $gray-200;
					}

					label {
						font-size: $font-size-sm;
						position: absolute;
						width: 100%;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						display: flex;
						align-items: center;
						padding: 7px 10px;
						color: $black;
						cursor: pointer;
						font-family: var(--heading-font-family);
					}

					label,
					span {
						&.disabled {
							color: $gray-400;
							cursor: not-allowed;

							&:hover {
							}
						}
					}

					span {
						font-size: $font-size-xs;
					}
				}
			}
		}
	}
}

.page-help {
	p {
		margin-bottom: 15px;
	}
}
