<div class="p-5 text-center">
SNIPPET TEST 2


<div class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
  Hello World
</div>


<div {% if foo %}class="foo"{% endif %}>
  Hello World
</div>

</div>