<div class="row justify-content-center py-4 bg-gray">
  <div class="col-auto">
    <a
      href="{{ section.settings.url }}"
      target="_blank"
      class="logo">
      {% render 'icon.logo' %}
    </a>
  </div>
</div>