
<h1 style="background-color:green">
  Hello World {{ section.settings.id }} {{ section.settings.xxx }}
</h1>

{% schema %}
  {
    "name": "tester",
    "class": "example",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "xxx",
        "label": "Xxx",
        "default": "Foo Bar"
      },
      {
        "type": "text",
        "id": "id",
        "label": "Id",
        "default": "fooooo"
      }
    ]
  }
{% endschema %}

