

<h1 style="background-color:red">
  Hello World
</h1>



{% schema %}
  {
    "name": "tester",
    "class": "example",
    "tag": "section",
    "settings": [
      {
        "type": "article",
        "id": "id",
        "label": "Id"
      }
    ]
  }
{% endschema %}