@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.discount {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.695);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.discount-open {
    visibility: visible;
    opacity: 0.7;
    transition: opacity 0.325s ease-in;
    z-index: 4000;
  }

  &.discount-close {
    visibility: hidden;
    opacity: 0;
    transition: opacity visibility z-index 0.525s ease-out;
    z-index: -1;
  }

  .strike {
    width: 290px;
  }

  .btn-facebook,
  .btn-google {
    padding: 7px 18px;
    box-shadow: 1px 1px 14px -2px rgba(25, 25, 25, 0.3);
    border-radius: 3px;
    position: relative;
    font-size: $font-size-sm;
    font-family: $heading-font-family;
    height: 35px;
    text-align: center;
    width: 290px;

    span {
      padding-left: 15px;
    }

    .icon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 6px;
      left: 12px;
    }
  }

  .btn-facebook {
    background-color: #475993;
    margin-right: 10px;
    color: $white;

    .icon {
      fill: $white;
    }
  }

  .btn-google {
    background-color: #ffffff;
    margin-left: 10px;
    color: $black-700;
  }

  input {
    border: 0;
    //	border-bottom: 0.01em solid $black-400;
    background-color: transparent;
    width: 270px;
    font-size: $h1-font-size;
    //	font-family: var(--heading-font-family);
    //margin-bottom: 15px;

    &::placeholder {
      color: $black-500;
      text-transform: uppercase;
      font-family: $h4-font-size;
    }
  }

  .button {
    color: $gray-600;
  }
}
