.fabric-icon {
	width: 8px;
	height: 8px;
	display: inline-block;
	margin-right: 5px;
	border-radius: 50%;
}

.fabric {
	&-amount {
		width: 32px;
		display: inline-block;
		text-align: center;
	}

	&-name {
		margin-left: 5px;
		display: inline-block;
	}
}

.fabric li {
	height: 5px;
	width: 100%;
	display: inline-block;
	border-right: 2px solid $white;
	cursor: crosshair;
}

.fabric li,
.fabric-icon {
	&.recycled-nylon,
	&.nylon {
		background-color: #89e051;
	}
	&.waxed-cotton {
		background-color: #4b6461;
	}
	&.cashmere {
		background-color: #fff59a;
	}
	&.bci-cotton {
		background-color: #74ebdb;
	}
	&.acrylic {
		background-color: #a84743;
	}
	&.modacrylic {
		background-color: #c98200;
	}
	&.linen {
		background-color: #6e4c13;
	}
	&.alpaca {
		background-color: #c49207;
	}
	&.spandex {
		background-color: #fbe5cd;
	}
	&.recycled-cotton,
	&.cotton {
		background-color: #2b7489;
	}
	&.organic-cotton {
		background-color: #05a5d1;
	}
	&.shetland-wool {
		background-color: #f1d55a;
	}
	&.wool {
		background-color: #f1e05a;
	}
	&.recycled-wool {
		background-color: #57972d;
	}
	&.recycled-polyester {
		background-color: #b0ce4e;
	}
	&.polyester {
		background-color: #563d7c;
	}
	&.polyamide {
		background-color: #77d9fb;
	}
	&.viscose {
		background-color: #fab738;
	}
	&.other-fibers {
		background-color: #b2b7f8;
	}
	&.eco-viscose {
		background-color: rgb(202, 88, 158);
	}
	&.polyurethane {
		background-color: #9a79d8;
	}
	&.textile-residues {
		background-color: #ff7272;
	}
	&.elastane {
		background-color: #bda3a3;
	}
	&.tencel {
		background-color: #e58eff;
	}
}
