.locale-mobile-list {
  left: 0;
  right: 0;
  height: 200px;
  overflow-y: scroll;
  width: 100%;
  top: 30px;
  bottom: 0;
  border-top: 1px solid $gray-300;
  background-color: $white;

  > li {
    padding: 3px 15px;
    text-transform: uppercase;
  }
}

.mobile-menu-container {
  position: relative;
  width: 100%;
  display: flex;
}

.mobile-menu {
  width: 100%;

  .link,
  .accordion-header,
  .accordion-header > .accordion-button {
    text-transform: uppercase;
    font-size: $h4-font-size;

    &.active {
      font-weight: bold;
    }
  }

  .accordion-header-open > .accordion-button {
    font-weight: bold;
  }

  .accordion-inner {
    font-size: $h5-font-size;
    text-transform: uppercase;

    > li.active a {
      font-weight: bold;
    }

    > li > a {
      &.text-red {
        color: $red;
      }
    }
  }
}
