.pictogram-heading {
	width: 100%;
	border-bottom: 1px solid $gray-100;
	font-size: 0.945rem;
}

.pictogram {
	display: block;
	height: 100px;
	//width: 90px;

	> .icon {
		height: 60px;
		width: 60px;
	}

	span {
		display: block;
		font-family: var(--heading-font-family);
		text-transform: uppercase;
		font-size: $font-size-xs;
	}

	&:hover {
		span {
			//display: block;
		}
	}
}
