@keyframes ArrowSwayRight {
  0% {
    transform: rotate(-90deg) translateY(-2px);
  }
  100% {
    transform: rotate(-90deg) translateY(5px);
  }
}

@keyframes ArrowSwayDown {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.product-notification {
  .email-address {
    height: 40px;
  }
}

.product-purchase {
  // product purchasing

  .dropdown-button,
  .cart-button {
    position: relative;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    text-transform: uppercase;
    font-family: var(--heading-font-family);
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .dropdown {
    // dropdown

    &-button {
      justify-content: space-between;
      color: $black-700;
      background-color: $gray-100;
      //	border-radius: 4px;
      //border: 1px solid $black-700;

      &.selected {
        .icon {
          animation: ArrowSwayDown 0.575s infinite ease-in-out
            alternate;

          @include media-breakpoint-up(md) {
            animation: ArrowSwayRight 0.575s infinite ease-in-out
              alternate;
          }
        }
      }
    }

    &-list > ul {
      height: auto;
      background-color: $white;
      border: 1px solid $gray-200;
      border-top: 0;

      li {
        position: relative;
        height: 32px;
        text-transform: uppercase;

        &:hover {
          background-color: $gray-200;
        }

        label {
          font-size: $font-size-sm;
          position: absolute;
          width: 100%;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          padding: 7px 10px;
          color: $black;
          cursor: pointer;
          font-family: var(--heading-font-family);
        }

        label,
        span {
          &.disabled {
            color: $gray-400;
            cursor: not-allowed;

            &:hover {
            }
          }
        }

        span {
          font-size: $font-size-xs;
        }
      }
    }
  }
}

.product-shipping {
  font-size: $font-size-xs - 0.02rem;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    &::before,
    &::after {
      bottom: auto;
      left: 0;
      top: 50%;
      transform: translate3d(-10px, -50%, 0);
    }
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.stock-alert-text {
  height: 40px;
  line-height: 0.88rem;
  background-color: $white-100;
}

.cart-button {
  justify-content: center;
  align-items: center;
  color: $white;
  text-align: center;
  background-color: $black-700;

  //	border-radius: 4px;
  //border: 1px solid $black-700;

  &:disabled {
    color: $gray-700;
    background-color: $gray-100;
    border: 1px solid transparent;
    cursor: no-drop;

    .select-size {
      display: none !important;
    }

    &:hover {
      .select-size {
        background-color: $gray-100;
        color: $gray-700;
        display: block !important;
      }

      .add-to-cart {
        display: none !important;
      }
    }
  }

  .add-to-cart {
    display: block !important;
  }

  .select-size {
    display: none !important;
  }

  @include media-breakpoint-up(md) {
    &:hover {
    }
  }
}
