/*.search-input {
	background-color: rgba($color: $gray-500, $alpha: 0.935);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	width: 100%;
}

.search-bg {
	background-color: rgba($color: $white, $alpha: 0.8);
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}
*/
