<aside
  id="bag"
  aria-hidden="true"
  class="drawer-panel drawer-right d-none"
  data-controller="drawer"
  data-gdrp-toggle-class="{{- overlay }}">
  <div
    class="container-fluid cart"
    data-controller="cart"
    data-cart-bogo-value="true"
    data-cart-charity-value="true"
    data-cart-text-value="{{ 'cart.label' | t | json }}">
    <div data-cart-target="mount"></div>
  </div>
</aside>
