$color_1: inherit;
$background_color_1: #fff;

$accordion-border-color: #eee !default;
$accordion-border-width: 1px !default;

$accordion-header-button-bg: #fff !default;
$accordion-header-button-bg-open: #eee !default;
$accordion-header-button-bg-focus: #dfdfdf !default;

$accordion-content-bg: #fff !default;

$accordion-transition-button: background-color 0.2s ease !default;
$accordion-transition-content-outer: height 0.1s ease 0.1s !default;
$accordion-transition-content-outer-open: height 0.2s ease !default;
$accordion-transition-content-inner: opacity 0.1s ease;
$accordion-transition-content-inner-open: opacity 0.3s ease !default;

.accordion {
  display: block;
  width: 100%;

  &-header {
    display: block;
    margin: 0;

    &.bd-bottom {
      border-bottom: 1px solid #eee;
    }

    .icon-chevron-down {
      visibility: hidden;
    }
    .icon-chevron-right {
      visibility: visible;
    }

    &.open {
      &.bd-bottom {
        border-bottom: none;
      }

      .icon-chevron-down {
        visibility: visible;
      }
      .icon-chevron-right {
        visibility: hidden;
      }
    }

    &.focus > .accordion-button {
      outline: none;
    }
  }

  &-button {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    color: $color_1;
    font-size: inherit;
    text-align: left;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &-content {
    display: none;
    overflow: hidden;
    height: 0;
    border-top: 1px solid #eee;
    background-color: $background_color_1;
    transition: 0.3s ease-in-out 0.1s;
    -webkit-transform: translateY(-100%);

    &.open {
      display: block;
      transition: 0.2s ease-in-out;
      -webkit-transform: translateY(0);
    }

    &.opened {
      overflow: visible;

      > .accordion-inner {
        opacity: 1;
        -webkit-transition: opacity 0.245s ease-in-out;
        transition: opacity 0.245s ease-in-out;
      }
    }
  }

  &-inner {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
  }
}
