/* -------------------------------------------- */
/*                 ASPECT RATIO                 */
/* -------------------------------------------- */

@mixin aspect-ratio($width, $height, $background) {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
    background-color: $gray-100;
    content: '';
  }

  picture,
  svg,
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .loading {
    height: 100%;
    width: 55px;
    margin: 0 auto;
  }
}
