/* DROPDOWN ----------------------------------- */

.select,
.dropdown {
	position: relative;
	display: block;
	width: 100%;

	&.active {
		.dropdown-list {
			display: block !important;
		}
		.icon {
			transform: rotate(-180deg);
		}
	}

	&-options,
	&-list {
		display: none !important;
		position: relative;
		z-index: $zindex-dropdown;
		width: 100%;

		> ul {
			position: absolute;
			width: inherit;
			overflow-y: scroll;

			> li {
				display: flex;
				align-items: center;
				text-align: left;
			}
		}
	}
}
