@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		/* JUSTIFY CONTENT ---------------------------- */

		.jc#{$infix}-start {
			justify-content: flex-start !important;
		}

		.jc#{$infix}-end {
			justify-content: flex-end !important;
		}

		.jc#{$infix}-center {
			justify-content: center !important;
		}

		.jc#{$infix}-between {
			justify-content: space-between !important;
		}

		.jc#{$infix}-around {
			justify-content: space-around !important;
		}

		/* ALIGN ITEMS -------------------------------- */

		.ai#{$infix}-start {
			align-items: flex-start !important;
		}

		.ai#{$infix}-end {
			align-items: flex-end !important;
		}

		.ai#{$infix}-center {
			align-items: center !important;
		}

		.ai#{$infix}-baseline {
			align-items: baseline !important;
		}

		.ai#{$infix}-stretch {
			align-items: stretch !important;
		}

		/* ALIGN CONTENT ------------------------------ */

		.ac#{$infix}-start {
			align-content: flex-start !important;
		}

		.ac#{$infix}-end {
			align-content: flex-end !important;
		}

		.ac#{$infix}-center {
			align-content: center !important;
		}

		.ac#{$infix}-between {
			align-content: space-between !important;
		}

		.ac#{$infix}-around {
			align-content: space-around !important;
		}

		.ac#{$infix}-stretch {
			align-content: stretch !important;
		}

		/* ALIGN SELF --------------------------------- */

		.as#{$infix}-auto {
			align-self: auto !important;
		}

		.as#{$infix}-start {
			align-self: flex-start !important;
		}

		.as#{$infix}-end {
			align-self: flex-end !important;
		}

		.as#{$infix}-center {
			align-self: center !important;
		}

		.as#{$infix}-baseline {
			align-self: baseline !important;
		}

		.as#{$infix}-stretch {
			align-self: stretch !important;
		}
	}
}
