/* MIXINS ------------------------------------- */

@mixin border($color) {
  border-bottom: 1px solid $color;
}

/* VARIABLES ---------------------------------- */

$field-size: 24px;
$icon-xs: 12px;

/* MIXINS ------------------------------------- */

@mixin field-loading($size: $field-size) {
  background-size: decimal-ceil($size / 1.8) decimal-ceil($size / 1.8);
  background-image: $spinner;
  background-repeat: no-repeat;
  background-position: right decimal-ceil($size / 3) center;

  svg {
    &.icon-right + {
      background-position: left decimal-ceil($size / 3) center;
    }
    &.icon-left + {
      background-position: right decimal-ceil($size / 3) center;
    }
  }
}

:root {
  --duration: 0.275s;
}

$checkbox-width: 2.25rem;
$checkbox-toggle: $checkbox-width / 2;

/* BASE --------------------------------------- */

form,
label,
legend,
select {
  position: relative;
}

/* COMMON ------------------------------------- */

legend,
label,
output,
input,
output,
select,
fieldset > span {
  font-family: $heading-font-family;
  text-transform: uppercase;
}

input,
textarea {
  background-clip: padding-box;
  width: 100%;
  border: none;
  border-bottom: 1px solid $black-500;

  label.error & {
    border-bottom-color: $red;
  }

  &::placeholder {
    text-transform: uppercase;
    color: $gray-700;
  }
}

/* TEXTAREA ----------------------------------- */

textarea {
  white-space: nowrap;
  resize: none;
  overflow-y: scroll;
}

/* INPUTS ------------------------------------- */

input,
select {
  height: $field-size;
  padding: 1px;
}

/* FIELDSET ----------------------------------- */

fieldset {
  &.row {
    padding-right: $grid-gutter-width / 2;
    padding-left: $grid-gutter-width / 2;
  }

  > span {
    font-size: $font-size-xs;

    a {
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* LABEL -------------------------------------- */

label {
  width: inherit;
  height: inherit;

  a {
    display: inline !important;

    &:hover {
      text-decoration: underline;
    }
  }

  span.validate {
    font-size: $font-size-xxs;
    line-height: $font-size-sm;
    color: inherit;
    display: none !important;
    min-height: $spacer-5;
    position: absolute;
    top: $field-size + 4px;
  }

  svg.icon {
    @extend .icon-xs;
    @extend .icon-right;
    position: absolute;
    top: $icon-xs / 2.4;
    right: 0;
    height: $icon-xs;
    width: $icon-xs;

    &.icon-close {
      display: none !important;
    }
    &.icon-tick {
      display: none !important;
    }
  }

  &.valid {
    color: $green;
    border-bottom-color: $green;

    svg {
      fill: $green;

      &.icon-close {
        display: none !important;
      }
      &.icon-tick {
        display: flex !important;
      }
    }
  }

  &.error {
    color: $red;
    border-bottom-color: $red;

    span.validate {
      display: block !important;
    }

    svg {
      fill: $red;

      &.icon-close {
        display: flex !important;
      }
      &.icon-tick {
        display: none !important;
      }
    }
  }

  &.warn {
    color: $orange;
    border-bottom-color: $orange;

    span.validate {
      display: block !important;
    }

    svg {
      color: $orange;

      &.icon-close {
        display: flex !important;
      }
      &.icon-tick {
        display: none !important;
      }
    }
  }
}

/* TEXT INPUT --------------------------------- */

input[type='date'],
input[type='datetime-local'],
input[type='search'],
input[type='text'],
input[type='email'] {
  color: $black;
  line-height: inherit;
  word-break: normal;

  &[disabled] {
    color: $gray-400;
    cursor: not-allowed;
  }

  &:focus {
    outline: 0;
  }

  &::placeholder {
    text-transform: uppercase;
    font-size: $font-size-sm;
    color: $gray-700;
  }
}

/* CHECKBOX ----------------------------------- */

label.checkbox,
input[type='checkbox'] {
  border: 1px solid $black-500;
  width: $checkbox-width;
  height: $checkbox-toggle;
  box-sizing: content-box;
  cursor: pointer;

  &.error {
    border-color: $red;
  }
}

input[type='checkbox'] {
  transition: transform var(--duration) ease;
  opacity: 0;
  visibility: hidden;
  border-radius: 4px;

  + svg {
    position: absolute;
    top: 0;
    left: 0;
    width: $checkbox-toggle;
    height: $checkbox-toggle;
    display: block;
    background: $gray-400;
    transition: background-color var(--duration) ease,
      transform calc(var(--duration) * 1.5) ease;

    path {
      fill: none;
      stroke: $white;
      stroke-dasharray: 90 90;
      stroke-dashoffset: 90;
      stroke-width: 12;
      transition: stroke-dashoffset calc(var(--duration) / 3) linear
        calc(var(--duration) / 3);
    }
  }

  &:checked + svg {
    background: $black-500;
    transform: translate($checkbox-toggle);
    transition: transform var(--duration) ease;

    path {
      stroke-dashoffset: 0;
    }
  }
}

/* STANDARD SELECT ---------------------------- */

select,
label.select {
  position: relative;
  border: 0;
  width: 100%;

  &::-ms-expand {
    display: none;
  }
}

/* DYNAMIC SELECT ----------------------------- */

.select {
  text-align: left !important;

  &[data-dropdown-collapse-value='selected'] > button {
    //
    > span {
      color: $black-500;
    }
  }

  > button {
    border-bottom: 1px solid $black-500;

    > span {
      color: $gray-700;
    }
  }

  &-options {
    width: 100%;

    > ul {
      width: inherit;
      font-size: $font-size-sm;
      border: 1px solid $gray-200;
    }

    > ul > li {
      width: inherit;
      font-size: $font-size-sm;
      border: 1px solid $gray-200;
      display: block;
      cursor: pointer;

      label {
        width: inherit;
        padding: 0 $spacer-3;
        font-size: $font-size-sm;
        border-bottom: 1px solid $gray-400;
      }

      &:hover {
        background-color: $white;
      }
    }
  }
}

/* OUTPUT ------------------------------------- */

output {
  text-transform: uppercase;
  font-size: $font-size-xs;
  display: block;
  margin-top: $spacer-2;

  &.error {
    color: $red;
  }
}

legend {
  font-size: $font-size-xs;
  font-family: $heading-font-family;
  text-transform: uppercase;

  a {
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* GROUP ------------------------------------- */
