.tabs {
	border-bottom: 1px solid $gray-100;

	nav > button {
		background: transparent;
		border: 0;
		display: inline;
		font-weight: 500;
		margin-right: 35px;
		text-transform: uppercase;
		font-family: var(--heading-font-family);
		font-size: 0.895rem;
		color: $gray-500;

		&:hover,
		&:active,
		&:focus {
			color: $black-700;
		}

		&:last-child {
			margin-right: 0;
		}

		&[aria-selected="true"] {
			color: $black-700;
			border-bottom: 1px solid $black-700;
		}

		&[aria-selected="false"] {
			color: $gray-500;
		}
	}

	.panel,
	.panel > ul {
		position: relative;

		> li {
			list-style-type: inherit;
		}
	}
}

[role="tabpanel"][aria-hidden="true"] {
	display: none;
}
