.navbar {
  position: fixed;
  z-index: 300;
  display: flex;
  z-index: 999999;
  right: 0;
  height: 65px;
  font-size: 1.075rem;
  width: 100%;
  left: 0px;
  width: 100%;
  z-index: 300;

  &::before {
    left: 10%;
    background-color: rgba($color: $body-bg, $alpha: 0.6);
    position: fixed;
    width: 70%;
    top: 0;
    height: 59px;
    display: block;
    content: '';
  }

  .ml-offset {
    margin-left: 5%;
  }

  .container-fluid {
    max-width: 100%;
    z-index: 300;
  }

  @include media-breakpoint-down(sm) {
    backdrop-filter: blur(5px);
    border-bottom: $border-color $border-width solid;
  }

  @include media-breakpoint-up(sm) {
    backdrop-filter: blur(10px);
    border-bottom: $border-color $border-width solid;
  }

  &-drawer {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    overflow: hidden;

    .icon-menu {
      width: 30px;
      height: 30px;
      color: $white;
    }
  }

  &-logo {
    width: 140px;
    height: 60px;
    color: $white;
  }

  &-version {
    font-size: 0.5rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 7px;
    color: $body-color;
  }

  .icon {
    width: 25px;
    height: 25px;
    color: $body-color;
  }

  .icon-github-text {
    width: 50px;
    height: 17px;
  }

  .off {
    color: $white;
  }

  .dropdown {
    z-index: 9999999;

    > .btn {
      padding: 3px 25px 3px 10px;
      text-transform: none;
      font-size: $font-size-base * 0.625;
      border-color: $accordion-border-color;
      border-radius: 5px;
      background-image: url(icon-arrow($white));
    }

    ul > li {
      padding: 5px;
      list-style-type: none;
      text-align: center;

      &:hover {
        background-color: transparent;
      }

      > a {
        font-size: $font-size-base * 0.625;
        margin-right: 0;
        color: $white;

        &:hover {
          color: $pink;
        }

        &::before {
          content: '';
          margin-right: 7px;
        }
      }
    }
  }

  &-menu {
    font-family: $font-family-heading;

    a {
      font-size: 0.845rem;
      font-weight: 900;
      text-transform: uppercase;
      color: $white;

      &.active {
        color: $green;
      }
    }
  }
}

.home {
  width: 18px;
  height: 18px;
  fill: #bec0cd;
}
.logo {
  width: 15px;
  height: 45px;
  color: $white; // #343644;
}
