.sidebar {
  height: 100%;
  background-color: inherit;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    direction: rtl;
    width: 1px;
    height: var(--papyrus-scrollbar-width);
  }
  &::-webkit-scrollbar-track {
    background: var(--papyrus-scrollbar-track);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--papyrus-scrollbar-thumb);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--papyrus-scrollbar-thumb-hover);
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  @include media-breakpoint-up(md) {
    top: 65px;
    width: 250px;
    left: auto;
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    margin-right: 20px;
  }

  &-menu {
    position: relative;
    display: block;

    .menu-links,
    .submenu,
    .menu {
      display: flex;
      align-items: center;
      color: $body-color;
      font-weight: $font-weight-bolder;
      font-family: $headings-font-family;
      color: $gray;
      text-transform: uppercase;
      list-style: none;
      border: none;
      margin: 0;
      width: 100%;
      background-size: 18px;
      background-color: transparent;
      background-repeat: no-repeat;

      &.opened,
      &.active {
        color: $green;
      }
    }

    .menu {
      background-image: url(icon-plus($gray));
      background-position: right 2px center;
      padding: 5px 0 5px 5px;
      font-size: 0.85rem;

      &[aria-expanded='true'] {
        background-image: url(icon-minus($white));
      }
    }

    .menu-links,
    .submenu {
      background-image: url(icon-right($gray));
      background-position: right 12px center;
      font-size: 1rem;
      font-weight: 300;
      color: $body-color;
      font-family: $font-family-base;
      text-transform: none;
      margin: 0 0 0 5px;

      &:first-of-type {
        padding-top: 7px;
      }

      &:last-of-type {
        padding-bottom: 7px;
      }

      &[aria-expanded='true'] {
        background-image: url(icon-arrow($white));
      }
    }
  }

  .submenu-list {
    > li {
      &:first-of-type {
        padding-top: 7px;
      }

      &:last-of-type {
        padding-bottom: 7px;
      }
    }
  }

  .menu-links {
    padding: 0;
    margin: 0 0 0 10px;
    font-size: 1rem;
    color: $body-color;

    &:hover {
      color: $white;
    }

    &.active {
      color: $green;
      font-weight: 600;
    }
  }

  .submenu-list,
  .menu-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    > li {
      margin: 0;

      &:first-of-type {
        margin-top: 0px;
      }

      &:last-of-type {
        margin-bottom: 0px;
      }

      > a {
        margin: 0 0 0 10px;
        font-size: 1rem;
        color: $body-color;

        &:hover {
          color: $white;
        }

        &.active {
          color: $green;
          font-weight: 600;
        }
      }
    }
  }

  .menu-list {
    > li {
      &:first-of-type {
        margin-top: 7px;
      }

      &:last-of-type {
        margin-bottom: 7px;
      }
    }
  }
}
