.sidebar {
  height: 100%;
  background-color: inherit;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
    width: var(--papyrus-scrollbar-width);
    height: var(--papyrus-scrollbar-width);
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track {
    background: var(--papyrus-code-bg);
    border-radius: var(--papyrus-code-border-radius);
  }

  &::-webkit-scrollbar-thumb:vertical {
    border-top: var(--papyrus-scrollbar-padding) solid
      var(--papyrus-code-bg);
    border-bottom: var(--papyrus-scrollbar-padding) solid
      var(--papyrus-code-bg);
    border-top-right-radius: var(--papyrus-code-border-radius);
    border-bottom-right-radius: var(--papyrus-code-border-radius);
  }

  &::-webkit-scrollbar-thumb:horizontal {
    display: none;
    border-right: var(--papyrus-scrollbar-padding) solid
      var(--papyrus-code-bg);
    border-left: var(--papyrus-scrollbar-padding) solid
      var(--papyrus-code-bg);
    border-bottom-right-radius: var(--papyrus-code-border-radius);
    border-bottom-left-radius: var(--papyrus-code-border-radius);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--papyrus-scrollbar-thumb);

    &:hover {
      background: var(--papyrus-scrollbar-thumb-hover);
    }
  }

  @include media-breakpoint-up(md) {
    top: 65px;
    width: 250px;
    left: auto;
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    margin-right: 20px;
  }

  &-menu {
    width: 100%;

    .child-links,
    .menu-link {
      display: flex;
      align-items: center;
      color: $body-color;
      font-weight: $font-weight-bolder;
      font-size: 0.85rem;
      font-family: $headings-font-family;
      color: $gray;
      text-transform: uppercase;
      list-style: none;
      border: none;
      margin: 0;
      width: 100%;
      padding: 10px 0 10px 5px;
      background-color: transparent;
      background-image: url(icon-plus($gray));
      background-repeat: no-repeat;
      background-position: right 2px center;
      background-size: 18px;

      &:hover {
        color: $white;
      }

      &[aria-expanded='true'] {
        background-image: url(icon-minus($white));
        color: $white;
        font-weight: 600;
      }
    }

    .list {
      margin-left: 5px;

      > li {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 25px;

        &:first-of-type {
          margin-top: 10px;
        }

        &:last-of-type {
          margin-bottom: 10px;
        }

        > a {
          margin: 0;
          font-size: 1rem;
          color: $body-color;

          &:hover {
            color: $white;
          }

          &.active {
            color: $green;
            font-weight: 600;
          }

          &[aria-expanded='true'],
          &[aria-expanded='false'] {
            background-repeat: no-repeat;
            background-position: right 0 center;
            background-size: 15px;
          }

          &[aria-expanded='true'] {
            background-image: url(icon-minus($white));
          }

          &[aria-expanded='false'] {
            background-image: url(icon-plus($white));
          }

          + .child-list {
            max-height: fit-content;
            margin-left: 2px;
            border-left: $border-width solid $border-color;

            > li {
              position: relative;
              display: flex;
              flex-direction: column;

              > a {
                margin-bottom: 4px;
                font-size: 1rem !important;
              }
            }
          }
        }
      }
    }
  }
}
