/* stylelint-disable scss/operator-no-newline-after */

.icons {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: currentcolor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// SVG Checkmark
//
@function icon-right($color: $black, $width: 1.5) {
  @return escape-svg(
    "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='#{$color}' stroke-width='#{$width}' stroke-linecap='round' stroke-linejoin='round'><path d='M9 18l6-6-6-6'/></svg>"
  );
}

// SVG Checkmark
//
@function icon-bell($color: $black, $width: 1.5) {
  @return escape-svg(
    "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='#{$color}' stroke-width='#{$width}'><path d='M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9m-4.27 13a2 2 0 0 1-3.46 0' /></svg>"
  );
}

// SVG Edit
//
@function icon-edit($color: $black, $width: 1.5) {
  @return escape-svg(
    "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='#{$color}' stroke-width='#{$width}' stroke-linecap='round' stroke-linejoin='round'><path d='M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7M18.5 2.5a2.12132034356 2.12132034356 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z' /></svg>"
  );
}

// SVG Checkmark
//
@function icon-chain($color: $black, $width: 1.5) {
  @return escape-svg(
    "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 37 40'><path fill='#{$color}' fill-rule='evenodd' d='M36.5416 13.4261c.0012-.6282-.0701-1.2452-.2678-1.8405-.5754-1.73895-1.5431-3.18096-3.1654-4.11829L21.8104.929962c-1.0218-.59601-2.1109-.894809-3.281-.926686-1.2897-.034415-2.5155.198986-3.6502.858206L3.48901 7.45986C1.23701 8.79142.051862 10.8369.023989 13.4516L.009596 26.5638c-.000312.6726.082914 1.3312.305983 1.9657.594449 1.6902 1.554621 3.0912 3.143681 4.0057l11.20434 6.4804c.9787.5709 2.0102.9092 3.1346.9705 1.3738.0754 2.681-.1477 3.8908-.8504l11.3221-6.5395c1.055-.6054 1.8691-1.4282 2.4885-2.4576.5976-.9933 1.0187-2.0543 1.0291-3.2275l.0059-6.9081h.0059l.0019-6.5768-.0008-.0001zM14.6079 28.1346c-.1261.1261-.2973.1968-.4759.1968h-2.6644c-.178 0-.3495-.0711-.4759-.1968l-4.37671-4.3768c-.12608-.126-.19679-.2972-.19679-.4758v-2.6638c0-.178.07102-.3495.19679-.4759l6.08961-6.0893c.1261-.126.2972-.1968.4759-.1968h2.6637c.1781 0 .3495.0711.4759.1968l.698.6974c.2628.2625.2628.6886 0 .9515s-.6886.2628-.9514 0l-.5006-.5h-2.1069l-5.69569 5.6948v2.1069l3.98249 3.9825h2.1072l5.696-5.6951v-2.1062l-.5005-.5c-.2635-.2628-.2635-.6886-.001-.9514s.6893-.2628.9515-.0009l.6983.6973c.1264.1261.1974.2973.1974.4762v2.6638c0 .178-.071.3495-.1968.4759l-6.0902 6.0889zm15.5157-8.7535c0 .178-.071.3495-.1967.4759l-6.0897 6.0893c-.126.1261-.2972.1968-.4758.1968h-2.6638c-.178 0-.3495-.0711-.4759-.1968l-.698-.6974c-.2628-.2625-.2628-.6886 0-.9514s.6887-.2628.9515 0l.5006.4999h2.1068l5.6957-5.6948v-2.1069l-3.9825-3.9825H22.689l-5.6964 5.6951.0003 2.1069.5006.5009c.2628.2628.2628.6889 0 .9514s-.6886.2628-.9514 0l-.6971-.698c-.1261-.1261-.1968-.2972-.1968-.4759l-.0012-2.6641c0-.178.071-.3494.1968-.4758l6.0899-6.0893c.1261-.1261.2972-.1968.4759-.1968h2.6637c.1781 0 .3495.071.4759.1968l4.3767 4.3767c.1261.1261.1968.2972.1968.4759l.0006 2.6641h.0003z'/></svg>"
  );
}

// SVG Checkmark
//
@function icon-info($color: $salmon) {
  @return escape-svg(
    "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 40 40'><path fill='#{$color}' d='M17.4193 9.85373c0-.61136.2427-1.1973.6749-1.62976s1.0184-.67491 1.6294-.67491 1.1977.24274 1.6298.67491.6749 1.01841.6749 1.62976-.2427 1.19727-.6749 1.62947-1.0184.6752-1.6298.6752-1.1973-.2431-1.6294-.6752-.6749-1.0181-.6749-1.62947zM15.689 18.1609c1.2804-.5748 2.3264-.3566 2.3264 1.2716v10.8762c0 2.1727 2.4873 2.7074 4.3818 1.5359.9846-.6368 1.8521-1.4388 2.5639-2.3704.1457-.195.1401-.4641-.0136-.6529s-.4158-.2489-.6362-.1463c-1.2804.5751-2.3263.3565-2.3263-1.2715V16.5273c0-2.1723-2.4873-2.7073-4.3819-1.5358h.0003c-.9849.6364-1.8523 1.4385-2.5642 2.3704-.1457.195-.1401.4638.0137.6526s.4157.249.6361.1464zM.000159 19.9999c0-5.3044 2.107221-10.39125 5.857861-14.14204S14.6961 0 20.0001 0s10.3912 2.10722 14.142 5.85786S40 14.696 40 19.9999s-2.1072 10.3913-5.8579 14.1421-8.8381 5.8578-14.142 5.8578c-5.3026-.0058-10.38573-2.1149-14.13573-5.8643S.005952 25.3021 0 19.9998l.000159.0001zm2.666821 0c0 4.597 1.82604 9.0056 5.07659 12.2564s7.65973 5.0766 12.25633 5.0766 9.0056-1.8261 12.2564-5.0766 5.0766-7.6597 5.0766-12.2564-1.8261-9.0055-5.0766-12.25633-7.6597-5.07659-12.2564-5.07659-9.0016 1.83286-12.25077 5.08247S2.67159 15.4048 2.66667 20.0002l.00031-.0003z'/></svg>"
  );
}
