{%- if section.settings.flush -%}
  {%- assign flush = 'no-gutters flush' -%}
{%- endif -%}
<div
  class="row jc-between {{ flush }}"
  data-controller="slideshow"
  data-slideshow-slides=" {{- section.settings.slides -}}">

  <div class="previous d-flex align-items-center">
    <button aria-label="Previous" data-action="slideshow#prev" type="button">
      {%- include 'icon.chevron-left' -%}
    </button>
  </div>

  <div class="col px-0">
    <div class="row jc-between no-gutters" data-target="slideshow.slides">
      {%- for product in collections[section.settings.collection].products -%}

        {%- if forloop.first == true   -%}
          {%- assign grid = 'col pr-2' -%}
        {%- elsif forloop.index == section.settings.slides -%}
          {%- assign grid = 'col pl-2' -%}
        {% endif %}

        {%- render 'product' with product
        , grid: grid
        , target: 'slideshow.slide' -%}
        {%- if forloop.index > 15  -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>

  <div class="next d-flex align-items-center">
    <button aria-label="Next" data-action="slideshow#next" type="button">
      {%- include 'icon.chevron-right' -%}
    </button>
  </div>

</div>

{% schema %}
{
  "name": "Image Slideshow",
  "class": "image-slideshow",
  "tag": "section",
  "settings": [
    {
      "label": "Collection",
      "id": "collection",
      "type": "collection"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "checkbox",
      "id": "loop_slideshow",
      "label": "Loop slideshow",
      "default": true
    },
    {
      "type": "range",
      "id": "slides",
      "min": 4,
      "max": 8,
      "step": 1,
      "label": "Showing",
      "default": 4,
      "info": "Number of products to show"
    }
  ],
  "presets": [
    {
      "name": "Image Slideshow",
      "category": "Image"
    }
  ]
}
{% endschema %}
