<div class="flex bg-slate-100 flex-col justify-center text-center w-vw justify-items-center h-vh">

  <a
    href="{{ section.settings.url }}"
    target="_blank"
    class="logo mx-auto">
    {% render 'icon.logo' %}
  </a>


  <p class="font-mono uppercase text-xs pt-2 tracking-logo text-logo text-gray-400 font-semibold">
    {{ section.settings.title }}
  </p>

</div>

{% schema %}
{
  "name": "page",
  "settings": [
    {
      "$ref": "page.example"
    }
  ]
}
{% endschema %}