.banner {
	overflow: hidden;
	color: $white;

	&__slides {
		a > &:hover {
			text-decoration: none;
			opacity: 0.7;
		}
	}

	&-next,
	&-prev {
		background: transparent;
		border: none;
		margin-top: -2px;
		.icon {
			width: 14px;
			height: 14px;
			fill: inherit;
		}
	}
}
