/* VARIABLES ---------------------------------- */

$navbar-background: rgba(255, 255, 255, 0.962);
$navbar-height-offers: 45px;
$navbar-height-desktop: 60px;
$navbar-height-mobile: 55px;
$navbar-font-size: 1rem;

$navbar-logo-desktop-height: auto;
$navbar-logo-desktop-width: 175px;
$navbar-logo-mobile-height: auto;
$navbar-logo-mobile-width: 160px;

$navbar-navbar-font-size: 1.045rem;
$navbar-navbar-font-weight: 600;
$navbar-navbar-spacing: 18px;

$navbar-icon-search: 12px;
$navbar-icon-hamburger: 28px;
$navbar-icon-cart: 28px;

$header-height-desktop: $navbar-height-desktop +
  $offers-height-desktop;
$header-height-mobile: $navbar-height-mobile + $offers-height-mobile;

@include media-breakpoint-down(sm) {
  body {
    padding-top: 60px;
  }
}

@keyframes LetterFlip {
  0% {
    transform: none;
    //	color: rgb(206, 209, 0);
  }
  100% {
    transform: scale(-1, 1);
  }
}

.discount-button {
  //margin-right: 70px;

  &:hover > span {
    animation: none;
  }

  span {
    //color: $red;
    margin-top: -1px;
    font-size: $navbar-font-size + 0.1;
    display: inline-block;
    animation: LetterFlip 0.695s infinite ease-in-out alternate;
  }
}

.header {
  text-transform: uppercase;
  font-weight: inherit;
  font-size: inherit;
  position: relative;
  z-index: $zindex-header;

  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.562);
    z-index: 600;
    //border-bottom: 1px solid $gray-100;

    .inner {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      height: 62px;
    }
  }

  .search-offset {
    //margin-left: 85px;

    //@include dash($dash-space, $font-size-sm);
  }

  .is-sticky {
    z-index: 100;
    top: 0;
    margin-top: 0;
  }

  .sticky-search,
  .sticky-cart {
    position: fixed;
    z-index: 200;
    top: $spacer-3;

    @include media-breakpoint-down(sm) {
      position: relative;
      top: auto;
    }
  }

  .sticky-search {
    left: $spacer-3;
  }

  .sticky-search-li {
    width: 90px;
  }

  .sticky-cart {
    right: $spacer-3;

    @include media-breakpoint-down(sm) {
      right: auto;
      font-size: 0.895rem;
    }
  }

  a {
    color: $black;
  }

  .icon {
    fill: $black;
  }

  .icon-logo {
    width: $navbar-logo-desktop-width;
    height: $navbar-logo-desktop-height;
  }

  .icon-menu {
    width: $navbar-icon-hamburger;
    height: $navbar-icon-hamburger;
    position: relative;
  }

  .icon-logo-text {
    width: $navbar-logo-mobile-width;
    height: $navbar-logo-mobile-height;
  }

  .icon-search {
    width: $navbar-icon-search;
    height: $navbar-icon-search;
    margin-top: -2px;
  }

  .icon-help,
  .icon-user-login {
    width: 20px;
    height: 20px;
  }

  .icon-cart,
  .icon-shopping-bag {
    width: $navbar-icon-cart;
    height: $navbar-icon-cart;
  }

  &__cart {
    font-weight: 600;

    @include media-breakpoint-down(xs) {
      border-left: none;
    }

    a > span > .count {
      font-weight: 600;
    }
  }
}
