.page-sidebar {
  strong {
    font-weight: 900;
  }
}

.page-content {
  font-size: $font-size-sm;

  ol {
    padding: 0 30px;
    li {
      list-style-type: square;
    }
  }

  .accordion-content &.open,
  .accordion-header &.open,
  .accordion-button {
    border-color: transparent;
  }

  .accordion-header &.opened {
    .accordion-button {
      background-color: lighten($color: $gray-100, $amount: 4);
      border-left: 1px solid $gray-200;
      border-right: 1px solid $gray-200;
      border-bottom: 1px solid $gray-200;
    }
  }
  .accordion-content &.opened {
    &.accordion-content {
      border: 1px solid $gray-200;
    }
  }
  .accordion-button {
    &:hover {
      background-color: $gray-200;
    }
  }

  h1 {
    font-size: 1.245rem;
  }

  h2 {
    font-size: 1.125rem;
    width: 100%;
    border-bottom: 0.01em solid $gray-200;
    padding-bottom: 5px;
    margin: 0 0 15px 0;
  }

  h5 {
    font-size: 0.895rem;
    color: $gray;
    margin-bottom: 5px;
    font-weight: 600;
  }

  p {
    margin-bottom: 25px;
  }

  .returns-address {
    p {
      margin-bottom: 15px;
    }

    padding: 15px 0;
    font-size: 0.895rem;
    border-radius: 5px;
    margin-bottom: 25px;
  }
}

// SIZES
//
.page-table {
  position: relative;
  font-size: $font-size-sm;

  .bd-x-none {
    border-right: none;
    border-left: none;
  }

  .bd-bottom {
    border-bottom: 1px solid $gray-200;
  }

  // TOGGLE
  // Switches between the metric (cm) and imperial (inches) size guides
  //
  &__toggle > button {
    font-size: $font-size-xs;
    color: $gray-500;
    display: inline;

    &.active {
      color: $black-700;
    }
  }

  // TABLE
  // The table styling of the sizes
  //
  table {
    font-family: $heading-font-family;
    text-transform: uppercase;
    width: 100%;

    thead > tr > th {
      background-color: lighten($color: $gray-100, $amount: 4);
    }

    th,
    td {
      border-bottom: 1px solid $gray-200;
      border-left: 1px solid $gray-200;
      border-right: 1px solid $gray-200;
    }
  }
}

.table-scroll {
  overflow-y: scroll;
  height: 255px;

  table {
    width: 100%;
  }

  th {
    position: sticky;
    z-index: 2;
    top: 0;
    outline: 1px solid #e9ecef;
    border: none;
    outline-offset: -1px;
    background-color: lighten($color: $gray-100, $amount: 4);
  }
}
