.search-form {
	padding: 0;
	input {
		height: 38px;
		padding: 5px 12px;
		width: 100%;
		border: 1px solid $gray-300;
		border-right: none;
		color: $black-700;
		border-radius: 0 !important;
		&:focus {
			outline: 0;
		}
	}
	button {
		height: 38px;
		border: 1px solid $gray-300;
		color: $black-700;
		padding: 5px 20px;
		&:hover {
			background-color: $gray-300;
		}
		@include media-breakpoint-down(sm) {
			padding: 4px 10px;
			font-size: 0.725rem;
		}
	}
}

.search-header {
	.list-pipe {
		font-family: $heading-font-family;
		font-size: $font-size-sm;
		color: $gray-700;
		text-transform: uppercase;
	}
}

.sticky-search {
	z-index: 2;
}

.page-result {
}

.page__item {
	@include media-breakpoint-down(sm) {
		text-align: center;
	}
	.page-title {
		font-size: $font-size-sm;
		font-weight: 500;
		@include media-breakpoint-down(sm) {
			font-size: $font-size-xs;
			text-transform: uppercase;
		}
	}
	.page-content {
		text-align: justify;
		font-size: $font-size-sm;
		@include media-breakpoint-down(md) {
			font-size: 0.625rem;
			text-align: center;
		}
		.highlight {
			background-color: rgba(114, 208, 79, 0.24);
			padding: 0 7px;
		}
	}
	.button__submit {
		@include media-breakpoint-down(sm) {
			font-size: $font-size-xs;
			padding: 4px 8px;
		}
	}
}

.page-url {
	color: darken($gray-300, 20%);
	font-size: $font-size-xs;
	@include media-breakpoint-down(sm) {
		text-align: center;
	}
}

.search-header {
	position: relative;
	z-index: 3;
	.icon-qr-code-search {
		width: 75px;
	}
	.search-icon {
		position: absolute;
		height: 100px;
		right: 0;
		top: 0;
		overflow: hidden;
	}
	.icon-search {
		width: 35px;
		@include media-breakpoint-down(sm) {
			width: 22px;
		}
	}
}

.search-results {
	color: darken($gray-300, 20%);
	text-transform: uppercase;
	font-size: $font-size-xs;
}

.search-count {
	text-transform: uppercase;
	font-size: $font-size-xs;
	color: $eerie;
	@include media-breakpoint-down(sm) {
		font-size: 0.695rem;
	}
	ul {
		list-style-type: none;
		margin: 0;
		li {
			display: inline-block;
			padding: 0;
			color: darken($gray-300, 25%);
		}
	}
}

.search-title {
	text-transform: uppercase;
	font-size: 1.525rem;
	font-weight: 500;
	margin: 0;
	@include media-breakpoint-down(sm) {
		font-size: 1.125rem;
	}
}
