.page {
  &__mobile-navbar {
    z-index: 3;
    background-color: $gray-200;
  }

  &-sidebar {
    z-index: 3;
    margin: 0;
    list-style: none;

    strong {
      font-weight: 900;
    }

    @include media-breakpoint-up(xl) {
      width: 290px;
    }

    @include media-breakpoint-down(sm) {
      border: none;
    }

    li {
      display: block;
      //padding: 4px 14px;
      padding-bottom: 4px;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }

      &.active {
        a {
          color: $gray-500;
        }
      }

      &.h5 {
        font-weight: 600;
        border-bottom: 1px solid $gray-200;
        width: 80%;

        @include media-breakpoint-down(sm) {
          border: none;
          border-bottom: 1px solid $gray-200;
          padding-left: 14px;
          //background-color: $smoke;
          font-weight: 600;
        }
      }

      a {
        display: block;
        text-transform: uppercase;
        font-size: 0.895rem;
        font-family: var(--heading-font-family);

        .icon {
          width: 12px;
          height: 12px;
        }

        @include media-breakpoint-up(sm) {
          &:hover {
            text-decoration: none;
            color: $black-600;
          }
        }

        @include media-breakpoint-down(sm) {
          color: $black-600;
          display: block;
          border-bottom: 1px solid $gray-300;
          width: 100%;
          font-size: 0.795rem;
          letter-spacing: 0.035rem;
          padding: 12px 20px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &__menu {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: $white;

    .button__variants {
      background-color: $white;
      color: $black-600;
      border: 1px solid $gray-300;
    }

    .list {
      background-color: $white;
      border: 1px solid $gray-300;
      position: absolute;
      left: 0;
      top: 50px;
      bottom: 0;
      width: 100%;
      height: 300px;
      max-height: 300px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 1;
      display: none;
    }
  }
}
