.template-collection {
	@include media-breakpoint-down(md) {
		.container-fluid {
			//	padding-right: 0.25rem;
			//	padding-left: 0rem;
		}
	}
}

.aspect-ratio-1240 {
	@include aspect-ratio(1180, 736, $gray-200);

	@include media-breakpoint-down(sm) {
		//	@include aspect-ratio(1080, 1080, $gray-200);
	}

	.image {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

.search-form {
	padding: 0;
	input {
		height: 38px;
		padding: 5px 12px;
		width: 100%;
		border: 1px solid $gray-200;
		border-right: none;
		color: $black-300;
		border-radius: 0 !important;
		&:focus {
			outline: 0;
		}
	}
	button {
		height: 38px;
		border: 1px solid $gray-200;
		color: $black-300;
		padding: 5px 20px;
		&:hover {
			background-color: $gray-200;
		}
		@include media-breakpoint-down(sm) {
			padding: 4px 10px;
			font-size: 0.725rem;
		}
	}
}

.search-count {
	ul > li {
		display: inline;
	}
}
