<!doctype html>
<html lang="{{ shop_locale.iso_code }}">
  <head>
    <meta charset='utf-8'>
    <title>
      {% liquid
        echo page_title
        if current_tags
          assign meta_tags = current_tags | join: ', '
          echo 'general.meta.tags' | t: tags: meta_tags | prepend: ' &ndash; '
        endif
        if current_page != 1
          echo 'general.meta.page' | t: page: current_page | prepend: ' &ndash; '
        endif
        unless page_title contains shop.name
          echo shop.name | prepend: ' | '
        endunless
      %}
    </title>

    {% render 'favicons' %}



    <script
      src="{{ 'bundle.min.js' | asset_url }}"
      data-spx-eval="false"
      type="module"
      defer></script>

    {{ content_for_header }}

  </head>
  <body>



    {{ content_for_layout }}



    {% render 'icons' %}

  </body>
</html>
